#card{
  background: rgb(255, 255, 255);
  opacity: 93%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("tes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

form{
display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #116dc3;
  margin-bottom: 30px;
}

fieldset {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

legend {
  font-weight: 600;
  font-size: 1.1rem;
  color: #2980b9;
  padding: 0 10px;
}

label {
  display: flex;
}

input[type="text"],
input[type="date"],
select {
  width: 300px;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

.radio-group label {
  font-weight: 400;
  margin-right: 15px;
}

input[type="submit"] {
  display: flex;
  width: 150px;
  margin: auto;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2c80b4;
}

select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}